@model TraineeDetailsViewModel
@{
    ViewData["Title"] = "Details";
    ViewData["ControllerName"] = "Trainee";
}

<style>
    .col-md-8{
        flex: 0 0 auto;
        width: 66.66666667%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
</style>

<section class="page-section" style="margin-top: 50px">
    <div class="container">
        <h1 class="text-uppercase text-center text-secondary mb-4">Trainee Details</h1>

        <div class="card shadow-lg mx-auto" style="max-width: 500px">
            <div class="row g-0 align-items-center">
                <!-- Details -->
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title mb-3">@Model.Name</h3>
                        <p class="mb-1"><strong>ID:</strong> @Model.Id</p>
                        <p class="mb-1"><strong>Salary:</strong> @Model.Grade</p>
                        <p class="mb-1"><strong>Address:</strong> @Model.Address</p>
                        <p class="mb-1"><strong>Grade:</strong> @Model.Grade</p>
                        <p class="mb-1"><strong>Department:</strong> @Model.DepartmentName</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Btns -->
        <div class="text-center mt-4">
            <a asp-controller="Trainee"
               asp-action="ShowAll"
               class="btn btn-secondary btn-lg text-uppercase shadow">
                Back to List
            </a>

            <button type="button"
                    class="btn btn-danger btn-lg text-uppercase shadow"
                    onclick="confirmDelete(@Model.Id, '@ViewData["ControllerName"]')">
                Delete
            </button>

            <a asp-controller="Trainee"
               asp-action="Edit"
               asp-route-id="@Model.Id"
               class="btn btn-warning btn-lg text-uppercase me-2 shadow">
                Edit
            </a>
        </div>
    </div>
</section>
